{% trans_default_domain 'edgarezuiaudit' %}

<div class="m-sub-items__bulk-delete-modal-container">
    <div class="c-popup modal c-popup--no-header show" id="audit-delete-request" tabindex="-1" aria-modal="true">
        <div class="modal-dialog c-popup__dialog " role="dialog">
            <div class="modal-content c-popup__content">
                <div class="modal-header c-popup__header">
                    <button type="button" class="close c-popup__btn--close" data-dismiss="modal" aria-label="Close">
                        <svg class="ez-icon ez-icon--medium">
                            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#discard"></use>
                        </svg>
                    </button>
                </div>
                <div class="modal-body c-popup__body">
                    <div class="m-sub-items__confirmation-modal-body">{{ 'ask.to_delete'|trans|desc('Are you sure you want to delete this request ?') }}
                    </div>
                </div>
                <div class="modal-footer c-popup__footer">
                    <button type="button" class="btn btn-secondary btn--no m-sub-items__confirmation-modal-cancel-btn"
                            data-dismiss="modal">{{ 'cancel'|trans|desc('Cancel') }}
                    </button>
                    <a href="" class="btn btn-danger font-weight-bold delete-log">{{ 'delete'|trans|desc('Delete it') }}</a>
                </div>
            </div>
        </div>
    </div>
</div>